.settingsWrapper {
    padding: 6.5%;
    margin-left: 15.625vw;

}

.settingsHeader {
    font-family: "Header";
    color: var(--tertiary-color);
    position: absolute;
    bottom: 10%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}