.urlSelectWrapper {
    padding: 6.5%;
    margin-left: 15.625vw;

}

.urlListWrapper {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.urlListWrapper::-webkit-scrollbar {
    display: none;
  }

.urlHeader {
    margin-top: 23%;
    font-family: 'Header';
    color: var(--tertiary-color);
}


