.urlSelectWrapper {
    padding: 6.5%;
    margin-left: 15.625vw;

}

.urlListWrapper {
    width: 100%;
    max-height: clamp(200px, 37vh, 400px);
    overflow-y: scroll;
}

.urlListWrapper::-webkit-scrollbar {
    display: none;
  }


.urlHeader {
    margin-top: clamp(150px, 27vh, 300px);
    font-family: "Header";
    color: var(--tertiary-color);
}
  