.timerToggleButton, .timerToggleButton:hover {
    background: var(--primary-color);
    filter: brightness(150%);
    margin-right: 20%;
    height: 254px;
    width: 254px;
    
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    
}

.timerToggleButtonImage { 
    aspect-ratio: 1;
    width: 172px;
    filter: brightness(0) saturate(100%) invert(89%) sepia(80%) saturate(1150%) hue-rotate(318deg) brightness(80%) contrast(97%);

}

.timerToggleButton:hover {
    filter: brightness(200%);
}
