.urlItem {
    background-color: #400f44;
    padding: 15px;
    width: 75%;
    border-radius: 6px;
    height: clamp(40px, 7.4vh, 80px);
    transition: 0.2s;
}

.urlItem:hover {
    filter: brightness(150%);
}


.deleteItemImage:hover, .addUrl:hover .addUrlImage {
    transition: 0.2s;
}


.urlItem img {
    cursor: pointer;
    filter: invert(80%) sepia(0%) saturate(1008%) hue-rotate(218deg) brightness(87%) contrast(78%);

}

.addUrl {
    cursor: pointer;
}

.addUrl:hover {
    background-color: #400f44;
    filter: brightness(150%);
}

.addUrl:disabled, .addUrl:disabled:hover {
    background-color: #666666;
    filter: none;
    transition: none;
    transform: none;
    cursor: wait;
}

.deleteItemButton:disabled img {
    cursor: wait;
    filter: invert(42%) sepia(18%) saturate(0%) hue-rotate(237deg) brightness(87%) contrast(83%);
}

.addUrl img {
    width: clamp(28px, 2.5vw, 46px);
    aspect-ratio: 1;
}

.urlText {
    font-family: 'George Regular';
    color: #f1f1f1;
    font-size: clamp(12px, 1.25vw, 24px);
}

.urlImage {
    width: clamp(19.5px, 1.51vw, 29px);
    height: clamp(27.5px, 4.16vh, 45px);
}

.noStyle {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
    height: unset;
    width: unset;
}

.noStyle:hover {
    background-color: #400f44;
    transition: none;
    transform: none;
}